## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import json
from datetime import datetime

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Arraial Do Cabo,BR,75.16,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
1,10,Hirara,JP,77.52,overcast clouds,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
2,21,Hilo,US,77.29,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
3,23,Meulaboh,ID,78.62,moderate rain,4.1363,96.1285,Kost Pria
4,24,Nanakuli,US,75.15,broken clouds,21.3906,-158.1547,Camp P훮lehua

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description} and {Max Temp} 째F</dd>

</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure( center=(30,31), zoom_level=1.5 )
markers_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[ vacation_df['City']=='Lazaro Cardenas' ]
vacation_end = vacation_df.loc[ vacation_df['City']=='Lazaro Cardenas'  ]
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Acapulco']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Pochutla'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Asuncion Nochixtlan']

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
77,255,Lazaro Cardenas,MX,83.44,few clouds,17.9583,-102.2,HOTEL QUINTA ANTIGUA

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5],vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6])

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

direction_layer=gmaps.directions_layer(start,
                                  end,
                                  waypoints=[stop1,stop2,stop3],
                                  travel_mode='DRIVING',show_markers=True   )

fig2 = gmaps.figure( center=(17,-98), zoom_level=6.0 )

fig2.add_layer(direction_layer)
fig2

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,255,Lazaro Cardenas,MX,83.44,few clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
1,69,Acapulco,MX,84.58,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
2,530,Pochutla,MX,89.42,clear sky,15.7432,-96.4661,Hotel Posada San Jose
3,370,Asuncion Nochixtlan,MX,79.07,clear sky,17.4667,-97.2333,Hotel Kristal

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description} and {Max Temp} 째F</dd>

</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info_2 = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_2 = itinerary_df[["Lat", "Lng"]]

In [11]:
#Create the figure
fig3 = gmaps.figure( center=(17,-98), zoom_level=6.5 )

# 11a. Add a marker layer for each city to the map.
marker_layer_route=gmaps.marker_layer(locations_2,info_box_content=hotel_info_2)
fig3.add_layer(marker_layer_route)


# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))